<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
                    <h3 class="mb-0" *ngIf="mode==2">Crear</h3>
                    <h3 class="mb-0" *ngIf="mode==3">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                        <div class="card-body container">
                            <div class="row">
                                <div class="col-3">ID</div>
                                <div class="col-9">
                                    <!-- formControlName lo usamos para enlazar la vista comn el controlador, diciendo que la vista va a modificar el campo que se le asigne dentro de comillas -->
                                    <!-- Aqui se enlaza la caja de texto con el campo del formuario del controlador -->
                                     <!-- El mode es el atributo que esta dentro de la clase ManageComponent -->
                                    <input type="text" class="form-control" formControlName="id"  disabled> 
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">Ubicación</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" 
                                        [disabled]="mode==1" formControlName="location">
                                        
                                    <div
                                        *ngIf="getTheFormGroup.location.errors && (getTheFormGroup.location.dirty || getTheFormGroup.location.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.location.errors.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.location.errors.minlength"
                                            class="msnError">Inválido
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">Capacidad</div>
                                <div class="col-9">
                                    <input type="number" class="form-control"  [disabled]="mode==1" formControlName="capacity">

                                    <div *ngIf="getTheFormGroup.capacity.errors && (getTheFormGroup.capacity.dirty || getTheFormGroup.capacity.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.capacity.errors.min" class="msnError">Valor
                                            mínimo
                                            debe ser 1</strong>
                                        <strong *ngIf="getTheFormGroup.capacity.errors.max" class="msnError">Valor
                                            máximo
                                            100 </strong>
                                        <strong *ngIf="getTheFormGroup.capacity.errors.required"
                                            class="msnError">Requerido</strong>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-9">
                                    <!-- ngIf nos permite mostrar informacion dependiendo de algo, en este caso si mode=1 muestra regresar y el resto no  -->
                                    <button type="button" class="btn btn-primary btn-block" (click)="back()"
                                        *ngIf="mode==1">Regresar</button>
                                    <button type="button" class="btn btn-success btn-block" (click)="create()"
                                        *ngIf="mode==2">Crear</button>
                                    <button type="button" class="btn btn-warning btn-block" (click)="update()"
                                        *ngIf="mode==3">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>