<div class="data-table-wrapper">

  <table class="data-table">
    
    <thead>
      <tr>
        <th *ngFor="let h of headers" class="th-title">
          {{ h | titlecase }}
        </th>

        <!-- Columna Acciones -->
        <th *ngIf="actionButtons.length > 0" class="th-title text-center">
          Acciones
        </th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of data" class="tr-row">

        <td *ngFor="let h of headers" class="td-cell">
          {{ item[h] }}
        </td>

        <td *ngIf="actionButtons.length > 0" class="td-actions text-center">
          <button
            *ngFor="let btn of actionButtons"
            (click)="handleAction(btn.action, item)"
            class="action-btn"
            [ngClass]="btn.class"
          >
            {{ btn.label }}
          </button>
        </td>

      </tr>

    </tbody>
  </table>

  <!-- Sin datos -->
  <div *ngIf="data.length === 0" class="no-data">
    No hay datos disponibles.
  </div>

</div>
